.theme-dark .bda-slist li,
.theme-dark .da-modal .da-inner .da-modal .da-tiles,
.theme-dark .da-incomingCallInner .da-members,
.theme-dark .da-incomingCallInner,
.theme-dark .da-scrollerWrap .da-layout .da-column .da-wrapper,
.theme-dark .da-recentlyPlayedContainer,
.theme-dark .da-outer,
.theme-dark .da-emptyUsers,
.theme-dark .da-emptyApplications,
.theme-dark .da-root .da-note textarea:focus,
.theme-dark .da-quickswitcher,
.theme-dark .da-embedInner,
.theme-dark .da-progress,
.theme-dark .da-cardPrimaryOutline,
.theme-dark .da-cardPrimaryEditable,
.theme-dark .da-cardPrimary,
.theme-dark .da-containerCozy .da-wrapper,
.theme-dark .da-queryContainer.da-focused,
.theme-dark .da-searchResult.da-expanded .da-searchResultMessage.da-hit,
.theme-dark .da-searchHeader,
.theme-dark .da-searchResult .da-hit,
.theme-dark.da-popouts .da-popout .da-container,
.theme-dark .da-autocomplete,
.theme-dark .da-codeRedemptionRedirect,
.theme-dark .da-messageGroupWrapper:hover .da-actionButtons,
.theme-dark .da-messageGroupWrapper,
.theme-dark .da-header:not(.da-headerPlaying):not(.da-headerSpotify):not(.da-headerFull),
.theme-dark .modal-yWgWj-,
.theme-dark .da-topSectionNormal,
.theme-dark .da-headerNormal,
.container-PNkimc,
.theme-dark .wrapper-1Rf91z,
.theme-light .wrapper-1Rf91z,
.da-app .channels-Ie2l6A,
.da-base .da-sidebar .da-panels,
.da-sidebar .da-privateChannels,
.theme-dark .da-sidebarRegion{
    background-color: #1a1a1b;
    /* background-color: #282829; */
}

.theme-dark .bda-slist .bda-header {
    border-bottom-color: rgba(255, 255, 255, 0.1);
}

.theme-dark .da-searchResult .da-searchResultMessage.da-hit {
    border: 2px solid rgba(12, 13, 14, 0);
}

.theme-dark .da-searchResult.da-expanded {
    border: 2px solid #1a1a1bba;
}

.theme-dark .da-autocompleteRow .da-selectorSelected.da-selectable .da-xsmall .da-status.da-avatarStatus {
    border-color: #2e2e2e;
}

.theme-dark .da-autocompleteRow .da-selectable .da-xsmall .da-status.da-avatarStatus {
    border-color: #1a1a1b;
}

.theme-dark .bda-slist li,
.theme-dark .da-emptyUsers,
.theme-dark .da-emptyApplications,
.theme-dark .da-embedInner,
.theme-dark .da-cardPrimaryOutline,
.theme-dark .da-cardPrimaryEditable,
.theme-dark .da-cardPrimary,
.theme-dark .da-containerCozy .da-wrapper,
.theme-dark .da-searchResult.da-expanded .da-searchResultMessage.da-hit,
.theme-dark .da-messageGroupWrapper {
    border: 0px;
}

.theme-dark .da-messageGroupWrapper:hover .da-actionButtons {
    box-shadow: 0 0 6px 4px #1a1a1b;
}

.theme-dark .da-searchResult .da-hit {
    box-shadow: 0 0 10px 6px #1a1a1b;
}

.theme-dark .da-friendsTable .da-friendsRow:hover {
    background-color: #212121;
}

.theme-dark .da-markup code,
.theme-dark .da-markup code.inline {
    background-color: #2b2b2b;
}

.theme-dark .da-accountBtnInner,
.theme-dark .da-jumpButton {
    background-color: #2e2e2e;
}

.theme-dark .da-messagesPopoutWrap {
    background-color: #121212;
}

.theme-dark .da-contentRegion,
.theme-dark .da-members {
    background-color: #121212;
}

/*   */

.theme-dark .da-root .da-body:not(.da-flex),
.theme-dark .da-userPopout .da-body:not(.da-flex),
.theme-dark .da-footer {
    background-color: #0c0c0c;
}

#bd-settingspane-container,
.theme-dark.da-layerContainer .da-layer .da-container section,
.theme-dark .da-flex.da-horizontal.da-directionRow.da-justifyStart .da-root,
.theme-dark .da-gameLibrary,
.theme-dark .da-activityFeed,
.theme-dark .da-channelSeparator .da-channelName,
.theme-dark .da-searchResultsWrap,
.theme-dark .da-container .da-sectionTag,
.theme-dark .container-3gCOGc,
.theme-dark .da-typing:not(.da-status),
.theme-dark .container-1r6BKw,
.theme-dark .da-chat,
.theme-dark .da-chat form,
.theme-dark .content-yTz4x3,
.theme-dark .da-messagesWrapper {
    background-color: #121212;
    /* background-color: #121212; */
}

.theme-dark .da-divider:not(.da-dividerRed) .da-dividerContent:after,
.theme-dark .da-divider:not(.da-dividerRed) .da-dividerContent:before {
    border-color: #404040;
}

.theme-dark .da-userSettingsAccount .da-viewBody,
.theme-dark .da-mentionFilter .da-label,
.da-name,
.theme-dark .da-divider:not(.da-dividerRed) .da-dividerContent,
.theme-dark .da-emptyPlaceholder .da-body,
.theme-dark .da-timestampCozy {
    color: #888888;
}

.theme-dark .da-divider.da-dividerRed .da-dividerContent:after,
.theme-dark .da-divider.da-dividerRed .da-dividerContent:before {
    border-color: rgba(240, 71, 71, 0.52);
}

.theme-dark .da-divider.da-dividerRed .da-dividerContent {
    color: rgb(255, 68, 68);
}

.theme-dark .da-attachButtonPlus {
    fill: #aaa;
}

.theme-dark .da-container .da-horizontal .da-button:not(.da-grow),
.theme-dark .da-content .da-icon,
.theme-dark .da-toolbar .da-clickable .da-icon {
    color: #aaaaaa;
}

.theme-dark .da-autocompleteRow .da-selectable .da-content,
.theme-dark .da-faded,
.theme-dark .da-toolbar .da-clickable:hover .da-icon,
.theme-dark .da-toolbar .da-selected .da-icon,
.theme-dark .da-toolbar .da-selected:hover .da-icon {
    color: white;
}

.theme-dark .da-accountBtnInner:hover,
.theme-dark .da-chat .da-container .da-children .da-divider {
    background-color: #404040;
}

.theme-dark .da-notches {
    background-image: none;
}

.theme-dark .da-flex.da-horizontal.da-directionRow.da-justifyStart .da-root .da-body,
.theme-dark .da-flex.da-horizontal.da-directionRow.da-justifyStart .da-root .da-body .da-root .da-header,
.theme-dark .da-flex.da-horizontal.da-directionRow.da-justifyStart .da-root .da-body .da-codeRedemption .da-header,
.theme-dark .container-3baos1,
.theme-light .container-3baos1,
.theme-dark .da-searchResult:before,
.theme-dark .da-searchResult:after,
.theme-dark.da-popouts .da-popout .da-container .da-option:after,
.theme-dark .da-friendsTable .da-friendTableAddWrapper .da-friendTableAddHeader,
.theme-dark .da-container .da-container .da-children:after,
.theme-dark .da-chat .da-container .da-children:after {
    background: none;
}

.theme-dark .da-wrapper .da-addFriendInput::placeholder,
.theme-dark .da-wrapper .da-addFriendHint {
    color: hsla(0, 0%, 100%, 0.61);
}

.theme-dark .da-copyButton {
    background: linear-gradient(90deg, rgba(34, 34, 35, 0), #222223 40px);
}

.da-topSectionPlaying .da-header .da-actionButton.da-button,
.theme-dark .da-jumpButton,
.theme-dark .da-markup {
    color: white;
}

div > div.da-select > div > div[class*='-menu'] {
    background-color: #282828;
}

div > div.da-select > div > div[class*='-menu'] > div > div[class*='-option'] {
    background-color: transparent !important;
}

div > div.da-select > div > div[class*='-menu'] > div > div[class*='-option']:hover {
    background-color: rgba(255, 255, 255, 0.08) !important;
}

.theme-dark .da-searchResultsContainer,
.theme-dark .da-menu {
    background: #282828;
}

.theme-dark .da-searchOption.da-selected,
.theme-dark .da-menu .da-item:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.da-app .da-layers .da-layer,
.da-app .da-layers,
.theme-dark .da-input {
    background-color: #121212;
}

.theme-dark .da-searchBox,
.theme-dark .da-quickswitcher .da-input,
.theme-dark .da-flex .da-inputWrapper .da-inputDefault.da-input,
.theme-dark .da-searchAnswer,
.theme-dark .da-searchFilter,
.theme-dark .da-friendTableAddHeader .da-friendsTableAdd .da-wrapper,
.theme-dark .da-searchBar,
.theme-dark .da-channelTextArea .da-inner,
.theme-dark .da-quickMessage {
    background-color: #222223;
}

.theme-dark .da-sidebar div[class*='side-'] .da-themed.da-item:hover,
.theme-dark .da-scroller .da-friendWrapper .da-friendSelected,
.theme-dark .da-popoutContainer:hover,
.theme-dark .da-outer.da-interactive:hover,
.theme-dark .resultFocused-3aIoYe,
.theme-dark .da-option.da-selected,
.theme-dark.da-popouts .da-popout .da-container .da-option:hover,
.theme-dark .da-member:hover .da-layout,
.theme-dark .da-member.popout-open .da-content,
.theme-dark .da-member.popout-open:hover .da-content,
.da-channel:hover a,
.theme-dark .da-channels .da-wrapper:hover .da-content,
.theme-light .da-wrapper:hover .da-content {
    background-color: #252527;
}

.theme-dark .da-selectorSelected,
.theme-dark .da-sidebar div[class*='side-'] .da-themed.da-selected.da-item,
.theme-dark .side-8zPYf6 .da-themed.da-selected.da-item:hover,
.theme-dark .topPill-30KHOu .da-themed.da-selected.da-item,
.theme-dark .topPill-30KHOu .da-themed.da-selected.da-item:hover {
    background-color: #2e2e2e;
}

.theme-dark .da-searchBarComponent.da-container .da-inner .da-tag,
.da-channel.da-selected .da-layout,
.theme-dark .da-wrapper.modeSelected-1zApJ_ .da-content,
.theme-dark .da-wrapper.modeSelected-1zApJ_:hover .da-content,
.theme-light .da-wrapper.modeSelected-1zApJ_ .da-content,
.theme-light .da-wrapper.modeSelected-1zApJ_:hover .da-content {
    background-color: #2e2e2e;
}

.da-channel.da-selected .da-status {
    border-color: #2e2e2e;
}

.theme-dark .da-wrapper.da-small.da-avatar .da-status,
.da-channel .da-status {
    border: 2px solid #1a1a1b;
}

.da-channel:hover .da-status {
    border-color: #252527;
}

.theme-dark .da-wrapper.da-small .da-status {
    border-color: #121212;
}

.theme-dark .da-member.popout-open .da-content .da-status,
.theme-dark .da-member.popout-open:hover .da-content .da-status,
.theme-dark .da-member:hover .da-content .da-status,
.da-channel.da-container:hover .da-layout {
    border-color: #252527;
}

.da-statusProfile.da-invisible,
.da-statusProfile.da-offline,
.da-statusProfile.da-unknown,
.da-statusProfile.da-idle,
.da-statusProfile.da-online,
.da-statusProfile.da-dnd {
    box-shadow: none;
}

.tabBar-1E2ExX .da-primary {
    /* gay */
    background-color: #2c00b1 !important;
    color: white;
}

.tabBar-1E2ExX .da-primarySelected {
    background-color: #4f14ff !important;
    color: white !important;
}

/* buttons */

.bda-slist .bda-footer button,
.bd-pfbtn,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,
.da-selectorButtonSelected,
.theme-dark .da-uploadModal.theme-brand div.da-hasSpoilers div.da-hasSpoilers div[class] .da-button.da-grow,
.theme-dark .da-questionMark,
.da-topSectionPlaying .da-header .da-actionButton.da-button,
.da-topSectionNormal .da-header .da-actionButton.da-button,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: #2c00b1;
    color: white;
}

.theme-dark .da-uploadModal.theme-brand div.da-hasSpoilers div.da-hasSpoilers div[class] .da-button.da-grow:hover,
.theme-dark .da-questionMark:hover,
.da-topSectionPlaying .da-header .da-actionButton.da-button:hover,
.da-topSectionNormal .da-header .da-actionButton.da-button:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: #3d00f5;
}

.da-uploadModal,
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    background-color: #2c00b1;
}

.da-circleIconButton {
    color: #5b24ff;
}

.theme-dark .da-input:focus,
.theme-dark .da-input.da-focused {
    border-color: #5000f0;
}

.da-radioGroup .da-item.da-cardPrimaryEditable[style*='border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);'] {
    background-color: #5000f0 !important;
}

.da-consent .lookInverted-2D7oAl.colorBrand-3pXr91 {
    color: black;
    background-color: white;
}

.theme-dark .da-consent {
    background-color: #4200c7;
}

#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
.themeDefault-24hCdX.valueChecked-m-4IJZ,
.da-barFill,
.da-circleIconButton.da-selected {
    background-color: #5000f0;
}

.da-uploadModal .da-inner:not(.da-flex) {
    border: 2px dashed hsla(0, 0%, 100%, 0.5);
}

.da-root .da-topSectionSpotify,
.da-userPopout .da-headerSpotify {
    background: hsla(141, 73%, 25%, 1);
}

.da-root .da-topSectionPlaying,
.da-userPopout .da-headerPlaying {
    background: rgba(33, 53, 135, 1);
}

.da-tab,
.da-totalResults {
    opacity: 0.5;
}

.da-unread.da-active {
    background-color: rgba(111, 111, 115, 0.8);
}

.da-result .da-content .da-header {
    background-color: transparent !important;
}

/* 2b2b2b */

/* 434343 */

/* 888888 */

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: rgba(121, 121, 121, 0.45);
    border: none;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: #121212;
    border: none;
}
